@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos globais opcionais */
html,
body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  scroll-behavior: smooth;
}

/* Transição suave ao alternar temas */
body {
  @apply transition-colors duration-300 ease-in-out bg-gray-100 dark:bg-gray-900 text-gray-900 dark:text-gray-100;
}
